.queridinho {
    color: #ff0080;
    text-align: center;
    font-size: 48px;
    font-family: Century Gothic,Montserrat,San Francisco,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 600;
}